
/3_semestr/C\# I/Ukol1/Ukol1/obj
/3_semestr/C\# I/Ukol1/Ukol1/bin
/3_semestr/C\# I/Ukol1/Ukol1/.vs
3_semestr/DS I/Scalia-DS1.mdf
3_semestr/DS I/Scalia-DS1_log.ldf
/3_semestr/C\# I/Cviko/Ukol1/.vs
/3_semestr/C\# I/Cviko/Ukol1/bin
/3_semestr/C\# I/Cviko/Ukol1/obj
/3_semestr/C\# I/Ukoly/Ukol1/bin
/3_semestr/C\# I/Ukoly/Ukol1/obj
/3_semestr/C\# I/Ukoly/Ukol1/.vs
/3_semestr/C\# I/Cviko/Ukol2/.vs
/3_semestr/C\# I/Cviko/Ukol2/bin
/3_semestr/C\# I/Cviko/Ukol2/obj
/3_semestr/C\# I/Cviko/Ukol2/test/bin
/3_semestr/C\# I/Cviko/Ukol2/test/obj
/3_semestr/ALG II/ukoly/ukol1/.vs
/3_semestr/ALG II/ukoly/ukol1/Debug
/3_semestr/ALG II/ukoly/ukol1/ukol1/Debug
/3_semestr/ALG II/ukoly/ukol1/ukol1/x64
/3_semestr/ALG II/ukoly/ukol1/x64
/3_semestr/C\# I/Ukoly/Ukol2/.vs
/3_semestr/C\# I/Ukoly/Ukol2/Ukol2/bin
/3_semestr/C\# I/Ukoly/Ukol2/Ukol2/obj
