
/3_semestr/C\# I/Ukol1/Ukol1/obj
/3_semestr/C\# I/Ukol1/Ukol1/bin
/3_semestr/C\# I/Ukol1/Ukol1/.vs
3_semestr/DS I/Scalia-DS1.mdf
3_semestr/DS I/Scalia-DS1_log.ldf
/3_semestr/C\# I/Cviko/Ukol1/.vs
/3_semestr/C\# I/Cviko/Ukol1/bin
/3_semestr/C\# I/Cviko/Ukol1/obj
/3_semestr/C\# I/Ukoly/Ukol1/bin
/3_semestr/C\# I/Ukoly/Ukol1/obj
/3_semestr/C\# I/Ukoly/Ukol1/.vs
/3_semestr/C\# I/Cviko/Ukol2/.vs
/3_semestr/C\# I/Cviko/Ukol2/bin
/3_semestr/C\# I/Cviko/Ukol2/obj
/3_semestr/C\# I/Cviko/Ukol2/test/bin
/3_semestr/C\# I/Cviko/Ukol2/test/obj
/3_semestr/ALG II/ukoly/ukol1/.vs
/3_semestr/ALG II/ukoly/ukol1/Debug
/3_semestr/ALG II/ukoly/ukol1/ukol1/Debug
/3_semestr/ALG II/ukoly/ukol1/ukol1/x64
/3_semestr/ALG II/ukoly/ukol1/x64
/3_semestr/C\# I/Ukoly/Ukol2/.vs
/3_semestr/C\# I/Ukoly/Ukol2/Ukol2/bin
/3_semestr/C\# I/Ukoly/Ukol2/Ukol2/obj
/3_semestr/ALG II/ukoly/ukol2/.vs
/3_semestr/ALG II/ukoly/ukol2/ukol2/x64
/3_semestr/ALG II/ukoly/ukol2/x64
/3_semestr/C\# I/Ukoly/Ukol3/.vs
/3_semestr/C\# I/Ukoly/Ukol3/.idea
/3_semestr/C\# I/Ukoly/Ukol3/ukol3/obj
/3_semestr/ALG II/Projekt/.vs
/3_semestr/ALG II/Projekt/Projekt/x64
/3_semestr/ALG II/Projekt/x64
/3_semestr/C\# I/Cviko/Ukol7/.vs
/3_semestr/C\# I/Cviko/Ukol7/Ukol7/bin
/3_semestr/C\# I/Cviko/Ukol7/Ukol7/obj
/3_semestr/C\# I/Ukoly/Ukol3/ZOO/obj
/3_semestr/C\# I/Ukoly/Ukol3/ZOO/bin
/3_semestr/C\# I/Ukoly/Ukol3/ukol3/bin
/3_semestr/C\# I/Test/testPripava1/.idea
/3_semestr/C\# I/Test/testPripava1/testPripava1/bin
/3_semestr/C\# I/Test/testPripava1/testPripava1/obj
/3_semestr/C\# I/Cviko/Ukol8/StockLib/obj
/3_semestr/C\# I/Cviko/Ukol8/.idea/.idea.Ukol8
/3_semestr/C\# I/Cviko/Ukol8/Ukol8/obj/Debug
/3_semestr/C\# I/Cviko/Ukol8/Ukol8/obj
/3_semestr/ALG II/ukoly/ukol3/.vs
/3_semestr/ALG II/ukoly/ukol3/ukol3/x64
/3_semestr/ALG II/ukoly/ukol3/x64
/3_semestr/POS/Programing project/SMTPandPOP3/.vs
/3_semestr/POS/Programing project/SMTPandPOP3/SMTPandPOP3/x64
/3_semestr/C\# I/Ukoly/Ukol4/Ukol4/obj
/3_semestr/C\# I/Ukoly/Ukol4/.vs
/3_semestr/C\# I/Ukoly/Ukol4/Ukol4/bin
/3_semestr/C\# I/Ukoly/Ukol4/.idea
/3_semestr/C\# I/Ukoly/Ukol5/.vs
/3_semestr/C\# I/Ukoly/Ukol5/obj
/3_semestr/C\# I/Ukoly/Ukol5/.idea
/3_semestr/C\# I/Ukoly/Ukol5/bin
/3_semestr/UASS/Ukol3/email_data/EmailApp/EmailParser/bin
/3_semestr/UASS/Ukol3/email_data/EmailApp/.vs
/3_semestr/UASS/Ukol3/email_data/EmailApp/EmailParser/obj
/3_semestr/UASS/Ukol4/app/.vs
/3_semestr/UASS/Ukol4/app/Graph/bin
/3_semestr/UASS/Ukol4/app/Graph/obj
/3_semestr/UASS/Ukol4/app/UASS/bin
/3_semestr/UASS/Ukol4/app/UASS/obj
/3_semestr/C\# I/Test/RealTimeTest-1/.vs
/3_semestr/C\# I/Test/RealTimeTest-1/RealTimeTest-1/bin
/3_semestr/C\# I/Test/RealTimeTest-1/RealTimeTest-1/obj
/3_semestr/C\# I/Test/resenitest1/.vs
/3_semestr/C\# I/Test/resenitest1/TestApp/bin
/3_semestr/C\# I/Test/resenitest1/TestApp/obj
/3_semestr/C\# I/Test/opravaTest/.vs
/3_semestr/C\# I/Test/opravaTest/opravaTest/bin
/3_semestr/C\# I/Test/opravaTest/opravaTest/obj
/3_semestr/C\# I/Test/opravatestuRealtime/.vs
/3_semestr/C\# I/Test/opravatestuRealtime/opravatestuRealtime/bin
/3_semestr/C\# I/Test/opravatestuRealtime/opravatestuRealtime/obj
/4_semestr/C\# 2/Cvika/Cviko1/.vs
/4_semestr/C\# 2/Cvika/Cviko1/bin
/4_semestr/C\# 2/Cvika/Cviko1/obj
/4_semestr/SKJ/cviceni/cv01/__pycache__
/4_semestr/SKJ/ukoly/ukol2/__pycache__
/4_semestr/SKJ/ukoly/ukol1/__pycache__
/4_semestr/SKJ/ukoly/ukol1/__pycache__
/4_semestr/C\# 2/Cvika/cviko2/.vs
/4_semestr/C\# 2/Cvika/cviko2/bin
/4_semestr/C\# 2/Cvika/cviko2/obj
/4_semestr/SKJ/ukoly/ukol3/__pycache__
/4_semestr/TDS1/TDS I/Project/rel
/4_semestr/TDS1/TDS I/Project/logical
/4_semestr/TDS1/TDS I/Project
/4_semestr/SKJ/ukoly/ukol4/__pycache__
/4_semestr/SKJ/ukoly/ukol5/__pycache__
/4_semestr/URO/Projekt tKinter/__pycache__
/4_semestr/C\# 2/projekt/ParkingLotWEB/.vs
/4_semestr/C\# 2/projekt/ParkingLotWEB/bin
/4_semestr/C\# 2/projekt/ParkingLotWEB/obj
/4_semestr/SKJ/Projket/mysite/blog/__pycache__
/4_semestr/SKJ/Projket/mysite/blog/__pycache__
/4_semestr/SKJ/Projket/mysite/blog/migrations/__pycache__
/4_semestr/SKJ/Projket/mysite/blog/migrations/__pycache__
/4_semestr/SKJ/Projket/mysite/blog/__pycache__
/4_semestr/SKJ/Projket/mysite/mysite/__pycache__
/4_semestr/SKJ/Projket/mysite/blog/__pycache__
/4_semestr/C\# 2/priprava/reseniWPF-1/.vs/reseniWPF-1/copilot-chat
/4_semestr/C\# 2/priprava/reseniWPF-1/.vs/reseniWPF-1/CopilotIndices
/4_semestr/C\# 2/priprava/reseniWPF-1/bin
/4_semestr/C\# 2/priprava/reseniWPF-1/packages
/4_semestr/C\# 2/priprava/reseniWPF-1/obj
/4_semestr/C\# 2/priprava/reseniWPF-1/.vs
/4_semestr/C\# 2/priprava/reseniMVC-1/.vs
/4_semestr/C\# 2/priprava/reseniMVC-1/obj
/4_semestr/C\# 2/projekt/ParkingLotWEB/TemplateEngineHost/vs
/4_semestr/SKJ/ukoly/ukol7/template/client/__pycache__
/4_semestr/C\# 2/priprava/reseniMVC-2022/mvcapplikace/.vs
/4_semestr/C\# 2/priprava/reseniMVC-2022/mvcapplikace/bin
/4_semestr/C\# 2/priprava/reseniMVC-2022/mvcapplikace/obj
/4_semestr/URO/QtProjekt/projektUro/build
/4_semestr/URO/QtProjekt/projektUro/build
/4_semestr/C\# 2/priprava/rannoOpacko/WpfApp1/.vs
/4_semestr/C\# 2/priprava/rannoOpacko/WpfApp1/bin
/4_semestr/C\# 2/priprava/rannoOpacko/WpfApp1/obj
/4_semestr/C\# 2/priprava/rannoOpacko/WpfApp1/packages
/4_semestr/C\# 2/test/apicalls/bin
/4_semestr/C\# 2/test/apicalls/obj
/4_semestr/C\# 2/test/aplikacePrikazovyradek/bin
/4_semestr/C\# 2/test/aplikacePrikazovyradek/obj
/4_semestr/C\# 2/test/testDesktopApp/bin
/4_semestr/C\# 2/test/testDesktopApp/obj
/4_semestr/URO/QtProjekt/projektUro/evidence/build
/4_semestr/URO/QtProjekt/projektUro/evidence/build
/4_semestr/SKJ/test/__pycache__
/4_semestr/URO/QtProjekt/projektUro/evidence/build
/4_semestr/SKJ/ukoly/ukol8/__pycache__
/4_semestr/TAMZ1/task/gps-navigator/android
/4_semestr/TAMZ1/projekt/CachingServer/obj
/4_semestr/TAMZ1/projekt/CachingServer/bin
/4_semestr/TAMZ1/projekt/CachingServer/.vs
/4_semestr/TAMZ1/projekt/caching-app/android
/4_semestr/TAMZ1/task/gps-navigator/android
/4_semestr/TAMZ1/projekt/caching-app/.vscode
/4_semestr/DS 2/projekt/DS2_ORM_projekt/.vs
/4_semestr/DS 2/projekt/DS2_ORM_projekt/obj
/4_semestr/DS 2/StoreIS_orm/StoreIS_orm/.vs
/4_semestr/DS 2/projekt/DSprojekt/obj
/4_semestr/DS 2/projekt/DSprojekt/.vs
/4_semestr/DS 2/projekt/DS2_ORM_projekt/bin
/4_semestr/SKJ/Projket/mysite/blog/__pycache__
/4_semestr/SKJ/Projket/mysite/blog/__pycache__
/4_semestr/SKJ/Projket/mysite/blog/migrations/__pycache__
/4_semestr/SKJ/Projket/mysite/mysite/__pycache__
/4_semestr/C\# 2/projekt/ParkingLotWPF/.vs
/4_semestr/C\# 2/projekt/ParkingLotWPF/.vs
/4_semestr/C\# 2/projekt/ParkingLotWPF/.vs
/4_semestr/C\# 2/projekt/ApiCalls/bin
/4_semestr/C\# 2/projekt/ApiCalls/obj
/4_semestr/C\# 2/projekt/ParkingLotWPF/.vs
/4_semestr/C\# 2/projekt/ParkingLotWPF/obj
/4_semestr/C\# 2/projekt/ParkingLotWPF/bin
/4_semestr/C\# 2/projekt/ParkingLotWPF/.vs
/4_semestr/C\# 2/projekt/ApiCalls/obj
/4_semestr/C\# 2/projekt/ParkingLotWPF/obj
/4_semestr/C\# 2/projekt/ParkingLotWPF/bin
/4_semestr/C\# 2/projekt/ParkingLotWPF/obj
/5_semestr/OSY/1-zadani/gennum/gennum/.vs
/5_semestr/OSY/1-zadani/gennum/gennum/gennum/x64
/5_semestr/ZPG/Projekt/.vs
/5_semestr/ZPG/Projekt/Projekt/x64
/5_semestr/ZPG/Projekt/x64
/5_semestr/ZPG/02-CV/.vs
/5_semestr/ZPG/02-CV/Projekt/x64
/5_semestr/ZPG/02-CV/x64
/5_semestr/ZPG/03-CV/.vs
/5_semestr/ZPG/03-CV/Projekt/x64
/5_semestr/ZPG/03-CV/x64
/5_semestr/ZPG/04-CV/Projekt/x64
/5_semestr/ZPG/04-CV/.vs
/5_semestr/ZPG/04-CV/x64
/5_semestr/ZPG/05-CV/.vs
/5_semestr/ZPG/05-CV/x64
/5_semestr/ZPG/05-CV/Projekt/x64
/5_semestr/ZPG/Tutorial3/.vs
/5_semestr/ZPG/Tutorial3/Projekt/x64
/.idea
/.idea
/5_semestr/ZPG/Tutorial3-new/.vs
/5_semestr/ZPG/Tutorial3-new/lib
/5_semestr/ZPG/Tutorial3-new/Projekt/x64/Release
/5_semestr/ZPG/Tutorial3-new/x64
