
/3_semestr/C\# I/Ukol1/Ukol1/obj
/3_semestr/C\# I/Ukol1/Ukol1/bin
/3_semestr/C\# I/Ukol1/Ukol1/.vs
3_semestr/DS I/Scalia-DS1.mdf
3_semestr/DS I/Scalia-DS1_log.ldf
/3_semestr/C\# I/Cviko/Ukol1/.vs
/3_semestr/C\# I/Cviko/Ukol1/bin
/3_semestr/C\# I/Cviko/Ukol1/obj
/3_semestr/C\# I/Ukoly/Ukol1/bin
/3_semestr/C\# I/Ukoly/Ukol1/obj
/3_semestr/C\# I/Ukoly/Ukol1/.vs
/3_semestr/C\# I/Cviko/Ukol2/.vs
/3_semestr/C\# I/Cviko/Ukol2/bin
/3_semestr/C\# I/Cviko/Ukol2/obj
/3_semestr/C\# I/Cviko/Ukol2/test/bin
/3_semestr/C\# I/Cviko/Ukol2/test/obj
/3_semestr/ALG II/ukoly/ukol1/.vs
/3_semestr/ALG II/ukoly/ukol1/Debug
/3_semestr/ALG II/ukoly/ukol1/ukol1/Debug
/3_semestr/ALG II/ukoly/ukol1/ukol1/x64
/3_semestr/ALG II/ukoly/ukol1/x64
/3_semestr/C\# I/Ukoly/Ukol2/.vs
/3_semestr/C\# I/Ukoly/Ukol2/Ukol2/bin
/3_semestr/C\# I/Ukoly/Ukol2/Ukol2/obj
/3_semestr/ALG II/ukoly/ukol2/.vs
/3_semestr/ALG II/ukoly/ukol2/ukol2/x64
/3_semestr/ALG II/ukoly/ukol2/x64
/3_semestr/C\# I/Ukoly/Ukol3/.vs
/3_semestr/C\# I/Ukoly/Ukol3/.idea
/3_semestr/C\# I/Ukoly/Ukol3/ukol3/obj
/3_semestr/ALG II/Projekt/.vs
/3_semestr/ALG II/Projekt/Projekt/x64
/3_semestr/ALG II/Projekt/x64
/3_semestr/C\# I/Cviko/Ukol7/.vs
/3_semestr/C\# I/Cviko/Ukol7/Ukol7/bin
/3_semestr/C\# I/Cviko/Ukol7/Ukol7/obj
/3_semestr/C\# I/Ukoly/Ukol3/ZOO/obj
/3_semestr/C\# I/Ukoly/Ukol3/ZOO/bin
/3_semestr/C\# I/Ukoly/Ukol3/ukol3/bin
/3_semestr/C\# I/Test/testPripava1/.idea
/3_semestr/C\# I/Test/testPripava1/testPripava1/bin
/3_semestr/C\# I/Test/testPripava1/testPripava1/obj
/3_semestr/C\# I/Cviko/Ukol8/StockLib/obj
/3_semestr/C\# I/Cviko/Ukol8/.idea/.idea.Ukol8
/3_semestr/C\# I/Cviko/Ukol8/Ukol8/obj/Debug
/3_semestr/C\# I/Cviko/Ukol8/Ukol8/obj
/3_semestr/ALG II/ukoly/ukol3/.vs
/3_semestr/ALG II/ukoly/ukol3/ukol3/x64
/3_semestr/ALG II/ukoly/ukol3/x64
/3_semestr/POS/Programing project/SMTPandPOP3/.vs
/3_semestr/POS/Programing project/SMTPandPOP3/SMTPandPOP3/x64
/3_semestr/C\# I/Ukoly/Ukol4/Ukol4/obj
/3_semestr/C\# I/Ukoly/Ukol4/.vs
/3_semestr/C\# I/Ukoly/Ukol4/Ukol4/bin
/3_semestr/C\# I/Ukoly/Ukol4/.idea
/3_semestr/C\# I/Ukoly/Ukol5/.vs
/3_semestr/C\# I/Ukoly/Ukol5/obj
/3_semestr/C\# I/Ukoly/Ukol5/.idea
/3_semestr/C\# I/Ukoly/Ukol5/bin
/3_semestr/UASS/Ukol3/email_data/EmailApp/EmailParser/bin
/3_semestr/UASS/Ukol3/email_data/EmailApp/.vs
/3_semestr/UASS/Ukol3/email_data/EmailApp/EmailParser/obj
/3_semestr/UASS/Ukol4/app/.vs
/3_semestr/UASS/Ukol4/app/Graph/bin
/3_semestr/UASS/Ukol4/app/Graph/obj
/3_semestr/UASS/Ukol4/app/UASS/bin
/3_semestr/UASS/Ukol4/app/UASS/obj
/3_semestr/C\# I/Test/RealTimeTest-1/.vs
/3_semestr/C\# I/Test/RealTimeTest-1/RealTimeTest-1/bin
/3_semestr/C\# I/Test/RealTimeTest-1/RealTimeTest-1/obj
/3_semestr/C\# I/Test/resenitest1/.vs
/3_semestr/C\# I/Test/resenitest1/TestApp/bin
/3_semestr/C\# I/Test/resenitest1/TestApp/obj
/3_semestr/C\# I/Test/opravaTest/.vs
/3_semestr/C\# I/Test/opravaTest/opravaTest/bin
/3_semestr/C\# I/Test/opravaTest/opravaTest/obj
/3_semestr/C\# I/Test/opravatestuRealtime/.vs
/3_semestr/C\# I/Test/opravatestuRealtime/opravatestuRealtime/bin
/3_semestr/C\# I/Test/opravatestuRealtime/opravatestuRealtime/obj
/4_semestr/C\# 2/Cvika/Cviko1/.vs
/4_semestr/C\# 2/Cvika/Cviko1/bin
/4_semestr/C\# 2/Cvika/Cviko1/obj
