@model ParkingLotWEB.Models.User
@{
    ViewData["Title"] = "Reset hesla";
}
<h2>Reset hesla uživatele</h2>
<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label for="Password" class="form-label">Nové heslo</label>
        <input type="password" name="password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-warning">Resetovat heslo</button>
    <a asp-action="Index" class="btn btn-secondary">Zpět</a>
</form>