@model ParkingLotWEB.Models.ParkingLot

<h2>Detail parkoviště</h2>
<div>
    <dl class="row">
        <dt class="col-sm-2">Název</dt>
        <dd class="col-sm-10">@Model.Name</dd>
        <dt class="col-sm-2">Latitude</dt>
        <dd class="col-sm-10">@Model.Latitude</dd>
        <dt class="col-sm-2">Longitude</dt>
        <dd class="col-sm-10">@Model.Longitude</dd>
    </dl>
    <a asp-action="Index" class="btn btn-secondary">Zpět</a>
    <a asp-action="Edit" asp-route-id="@Model.ParkingLotId" class="btn btn-warning">Upravit</a>
</div>