@model ParkingLotWEB.Models.ParkingLot

<h2>Upravit parkoviště</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ParkingLotId" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Latitude" class="form-label"></label>
        <input asp-for="Latitude" class="form-control" />
        <span asp-validation-for="Latitude" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Longitude" class="form-label"></label>
        <input asp-for="Longitude" class="form-control" />
        <span asp-validation-for="Longitude" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PricePerHour" class="form-label"></label>
        <input asp-for="PricePerHour" class="form-control" />
        <span asp-validation-for="PricePerHour" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Uložit</button>
    <a asp-action="Index" class="btn btn-secondary">Zpět</a>
</form>